/* body{
    text-align: center;
    justify-content: center;
    background-color: blueviolet;
    align-items: center;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
} */

.header{
    background-color: white;
    /* padding: 5px; */
    border-radius: 5px;
    width: 30%;
    text-align: center;
    justify-content: center;
    align-content: space-evenly;
    display: inline-flex;
    flex-direction: column;
    color: blueviolet;
    height: auto;
    margin-bottom: 20px;
}



.input_name{
    width: 50%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 1.5rem;
    text-align: center;
}

.button_style{
    width: 20%;
    font-size: 2rem;
    color: white;
    background-color: blueviolet;
    border-radius: 5px;
    border-style: groove;
    border-color: gray;
    border-width: 5px;
}

.button_style:hover{
    padding: 5px;
    color: blueviolet;
    background-color: white;
    font-weight: bold;
}

