.main_class{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    width: 100%;
    height: auto;
    background-color: wheat;
}

.cart_class{
    width: 40%;
    background-color: white;
    height: auto;
    padding: 10px;
    /* margin-bottom: 5%; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.center_cart{
    width: 90%;
    height: auto;
    background-color: lightsteelblue;
    justify-content: left;
    display: inline-flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    flex-direction: row;
    /* align-items: left; */
    /* align-content: left; */
    text-align: left;
    align-content: space-evenly;
    padding-left: 10px;
    font-weight: lighter;
}

.que_style{
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
}

.answer_cart{
    width: 90%;
    height: auto;
    background-color: lightgray;
    justify-content: left;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: left;
    text-align: left;
    align-content: left;
    align-content: space-evenly;
    padding-left: 10px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

body{
    background-color: wheat;

}